@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased overflow-hidden selection:bg-cyber-accent selection:text-black;
  }
}

@layer utilities {
  .style-scrollbars::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .style-scrollbars::-webkit-scrollbar-track {
    background: transparent;
  }
  .style-scrollbars::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .style-scrollbars::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 240, 255, 0.4);
  }
  /* For Firefox */
  .style-scrollbars {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }
}
